---
// Feature Cards grid Section
// Copyright (c) 2024 Oxygenna - MIT License
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Servicios especializados para <strong>impulsar</strong> tu negocio</h2>
			<p class="pb-0 text-lg">
				Descubre nuestros servicios profesionales en contabilidad, fiscalidad, gestión laboral, mercantil y soporte.
				Optimiza tu negocio o actividad como autónomo con soluciones integrales que se adaptan a tus necesidades.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Gestión Contable Completa"
				subtitle="Ofrecemos servicios de contabilidad para sociedades y autónomos, incluyendo la confección de libros, análisis de balances y preparación de cuentas anuales."
				image={feature01}
				link="/ecoat-web/services#accounting"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Servicios Fiscales Personalizados"
				subtitle="Confección de impuestos trimestrales, resúmenes anuales, y consultoría fiscal para garantizar el cumplimiento de tus obligaciones fiscales."
				image={feature02}
				link="/ecoat-web/services#tax"
			/>
			<Card
				title="Consultoría y Declaraciones Fiscales"
				subtitle="Te ayudamos con la declaración de la renta, el impuesto sobre sociedades, y la gestión fiscal de no residentes."
				image={feature03}
				link="/ecoat-web/services#tax"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Gestión Laboral Eficiente"
				subtitle="Nos encargamos de la gestión de nóminas, contratos, afiliaciones y la alta o baja de autónomos para que te enfoques en tu negocio."
				image={feature04}
				link="/ecoat-web/services#labor"
			/>
			<Card
				title="Asesoría en Constitución de Sociedades"
				subtitle="Te ayudamos con la constitución de sociedades mercantiles, la elaboración de contratos y la planificación jurídica de tu empresa."
				image={feature05}
				link="/ecoat-web/services#mercantile"
			/>
		</Col>
	</Row>
</Section>
